<div class="catergories">
    <ul>
        <span class="header">~/About Me</span>
        <li>~/Hobbies</li>
        <li>~/My Life</li>
        <li>~/Recent Years</li>
        <li>~/Education</li>
        <li>~/volunteering</li>
    </ul>
    <ul>
        <span class="header">~/Projects</span>
        <li>~/Frontrunning script</li>
        <li>~/Task Manager</li>
        <li>~/To Do List</li>
        <li>~/Personal Website</li>
    </ul>
</div>

<footer>
    <a href="" class="github">github picture</a>
    <a href="" class="phone">+61 451 362 534</a>
    <a href="" class="email">imalexhu@gmail.com</a>
</footer>