<div class="container">
    <main>
        <section class="landing">
            <svg class="name" viewBox="0 0 74 14">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Artboard" transform="translate(-9.000000, -7.000000)">
                        <g id="Group-2" transform="translate(9.000000, 7.000000)">
                            <rect id="Rectangle" fill="#fac236" x="0" y="0" width="74" height="14" rx="0"></rect>
                            <g id="Group" transform="translate(4.000000, 3.500000)" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2">
                                <path class="path" d="M53,0.5  
                                L53,4.5 
                                C53,4.5 53.1045695,6.5 55,6.5 
                                C55,6.5 56.8954305,6.5 57,4.5 
                                L57,0.5 " id="U" stroke="#FFFFFF"></path>

                                <polyline class="path" id="h2" stroke="#FFFFFF" points="49 0.5 49 6.5 "></polyline>
                                <polyline class="path" id="h1" stroke="#FFFFFF" points="45 0.5 45 6.5 45 3.5 49 3.5 ">
                                </polyline>

                                <polyline class="path" id="x2" stroke="#FFFFFF" points="32 0.5 36 6.5 "></polyline>
                                <polyline class="path" id="x1" stroke="#FFFFFF" points="32 6.5 36 0.5 "></polyline>

                                <polyline class="path" id="e2" stroke="#FFFFFF" points="28 3.5 25 3.5 25 6.5 28 6.5">
                                </polyline>
                                <polyline class="path" id="e1" stroke="#FFFFFF" points="28 0.5 25 0.5 25 6.5">
                                </polyline>
                                <polyline class="path" id="l" stroke="#FFFFFF" points="18 0.5 18 6.5 21 6.5"></polyline>
                                <path class="path"
                                    d="M10,6.5 L10,2.5 C10,1.3954305 10.8954305,0.5 12,0.5 C13.1045695,0.5 14,1.3954305 14,2.5 L14,6.5 L14,6.5 L14,4.5 L10,4.5"
                                    id="a" stroke="#FFFFFF"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="me">
                <img src="C:\Users\a1766749\Documents\GitHub\Alex-Hu-s-Website\frontend\src\app\welcome-page\images\image.jpg" alt="">
            </div>
            <div class="CTA" routerLink="landing" routerLinkActive="active">Discover Alex
            </div>
        </section>
    </main>
    <div class="hero-image ">
        <div class="intro ">
            <div class="intro-text ">
                <h1 class="hide ">
                    <span class="hide-text ">Functionality</span>
                </h1>
                <h1 class="hide ">
                    <span class="hide-text ">Meets</span>
                </h1>
                <h1 class="hide ">
                    <span class="hide-text special ">Creativity.</span>
                </h1>
            </div>
        </div>
        <div class="transition "></div>
    </div>
</div>