<div class="container">
    <div class="header">
        <h1><span class="highlited">About Me</span></h1>
    </div>


    <div class="story-card">
        <p class="text-content">My hobbiesa are</p>
        <img src="" alt="Picture of my hobbies" class="picture">
    </div>

    <div class="story-card">
        <p class="text-content">My life story</p>
        <img src="" alt="Picture of my life" class="picture">
    </div>

    <div class="story-card">
        <p class="text-content"> Recently I am doing</p>
        <img src="" alt="Picture of recent times" class="picture">
    </div>

    <div class="story-card">
        <p class="text-content"> I studied at</p>
        <img src="" alt="Picture of education" class="picture">
    </div>

    <div class="story-card">
        <p class="text-content"> My volunteering experience</p>
        <img src="" alt="Picture of volunteering" class="picture">
    </div>


</div>